* {
	font-family: "Cabin", sans-serif;
}

#map {
  height: 400px;
  width: 100%;
}

.input-group {
  padding-bottom: 20px;
  text-align: center;
}

input {
	font-style: italic;
}

.examples {
	font-size: 13px;
}